doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/default.css')
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="/javascripts/subsystem.js")
        script(src="/javascripts/console.js")
        script(src="/javascripts/binairies.js")
    body
    div(class="console")
        div(id="console")
            p(id="line0" style='visibility:hidden')=tab
            text(id="line1")
                span UserName:
                span(id="cursor") |