<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Make your choice</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <img id="linux" src="/linux" class="img-responsive" data-dismiss="modal">
                    </div>
                    <div class="col-md-6">
                        <p class="text-justify">
                            Hello, welcome on my online resume.
                            <br>
                            <br>
                            If Linux doesn't scare you, you can click on the left, else, you can click on the right to see the pdf version
                            <br>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="/who/cv">
                        <img src="http://www.qcad.org/doc/qcad/3.1.0/reference/en/scripts/File/PdfExport/PdfExport.png" class="img-responsive hvr-bounce-to-top">
                        </a>
                    </div>
                </div>
            </div>
<!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
-->
        </div>
    </div>
</div>

<button type="button" id="showModal" class="hide" data-toggle="modal" data-target="#myModal"></button>