body {
    background-color: #000;
    overflow: hidden;
}
.console {
    font-family: courier, monospace;
    color: #fff;
    margin-left:10px;
    margin-top:10px;
    font-size:14px;
}
#cursor {
    color: white;
    background-color: white;
    text-decoration-color: white;
}
.name {
    color: #0bc;
}

.r {
    color: red;
}
.g {
    color: greenyellow;
}

::-webkit-scrollbar {
    display: none;
}