body {
    background-color: #000
}
.console {
    font-family: courier, monospace;
    color: #fff;
    width:750px;
    margin-left:10px;
    margin-right:auto;
    margin-top:100px;
    font-size:14px;
}
#cursor {
    color: white;
    background-color: white;
    text-decoration-color: white;
}
.name {
    color: #0bc;
}
#a {
    color: #0f0;
}
#c {
    color: #0bc;
}
#b {
    color: #ff0096;
}