body {
    background-color: #000;
    overflow: hidden;
}
.console {
    font-family: courier, monospace;
    color: #fff;
    font-size:14px;
}
.name {
    color: #0bc;
}

.r {
    color: red;
}
.g {
    color: greenyellow;
}

.p
{
    color:hotpink;
}

input
{
    background-color: black;
    color: white;
    border-color: black;
    width: 70vw;
    border : none;
}
:focus {
    outline: none;
}

.dontDoIt
{
    font-size: 35px;
}
::-webkit-scrollbar {
    display: none;
}